/* Fuente iconografica */
@font-face {
    font-family: "govco-font";
    src: url("../assets/icons/fonts/govco-font-icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* WorkSans-Regular */
@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf');
}

html {
    font-size: 100%; /* 100% = 16px */
}

.logo-aut-header-govco {
    position: relative;
    margin-bottom: 2rem;
    
}

 .logo-aut-header-govco .link-login-header-govco {
        color: #3366CC;
        font-family: WorkSans-Regular;
        font-size: 14px;
        display: block;
        right: 5.375rem;
        position: absolute;
 }

.logo-aut-header-govco .link-login-header-govco:hover {
            color: #004884;
}

.container-logo-header-govco {
    align-items: center;
    justify-content: space-between;
    padding:0;
    margin-top:7px;
    padding-bottom:10px;
    padding-left:15px;
    
   
}

    .container-logo-header-govco .logo-header-govco {
        
        content: url('../Alcaldia logo 2_0.png')
        
    }

    .container-logo-header-govco .container-search-header-govco {
        
    }

@media (max-width: 991px) {
    .logo-aut-header-govco {
        display: none;
    }

    .container-logo-header-govco {
        border-bottom: 0.188rem solid #004884;
        justify-content: center;
        
    }

        .container-logo-header-govco .logo-header-govco {
            
        }
}


/* Barra superior */
.barra-superior-govco {
    background-color: #3366cc;
    width: 100%;
    height: 3rem;
    padding-left: 4.375rem;
    
}

    .barra-superior-govco a {
        content: url(https://cdn.www.gov.co/assets/images/logo.svg);
        height: 1.875rem;
        width: 8.5rem;
    }

        .barra-superior-govco a:focus-visible {
            outline: max(0.125rem, 0.15em) solid #FFFFFF;
            border-radius: 0.313rem;
        }

    .barra-superior-govco .idioma-icon-barra-superior-govco {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 0.313rem;
        background-color: #FFFFFF;
        cursor: pointer;
        padding: 0;
        border: 0.125rem solid #FFFFFF;
        font-size: 10px;
        position: absolute;
        right: 5.375rem;
    }

        .barra-superior-govco .idioma-icon-barra-superior-govco:hover {
            background-color: #004884;
        }

        .barra-superior-govco .idioma-icon-barra-superior-govco:focus {
            outline: max(0.125rem, 0.15em) solid #FFFFFF;
            outline-offset: max(0.188rem, 0.15em);
        }

        .barra-superior-govco .idioma-icon-barra-superior-govco::before {
            font-family: "govco-font";
            content: 'EN';
            color: #3366CC;
            font-size: 14px;
           
        }

        .barra-superior-govco .idioma-icon-barra-superior-govco:hover::before {
            color: #FFFFFF;
        }

@media (max-width: 991px) {
    .barra-superior-govco {
        justify-content: center;
        
        margin-bottom:10px;
    }

        .barra-superior-govco .idioma-icon-barra-superior-govco {
            right: 1rem;
        }
}

/***
 * Gov.co (https://www.gov.co) - Gobierno de Colombia
 *  - Componente: barra accesibilidad
 *  - Version: 4.0.0
 */

/* Fuente iconografica */
@font-face {
    font-family: "govco-font";
    src: url("../assets/icons/fonts/govco-font-icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* WorkSans-SemiBold */
@font-face {
    font-family: 'WorkSans-Medium';
    src: url('../assets/fonts/Work_Sans/static/WorkSans-Medium.ttf');
}

/* WorkSans-Regular */
@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf');
}

/* WorkSans-SemiBold */
@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('../assets/fonts/Work_Sans/static/WorkSans-SemiBold.ttf');
}

/* Montserrat-SemiBold */
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}


.content-example-barra {
    margin-left: auto;
    margin-right: auto;
}

.barra-accesibilidad-letra {
    width: 100%;
    align-items: center;
    text-align: center;
}

    .barra-accesibilidad-letra .titulo-barra-accesibilidad {
        color: #000;
        font-family: Montserrat-SemiBold;
        font-size: 20px;
        margin: 0px;
    }

    .barra-accesibilidad-letra .descripcion-barra-accesibilidad {
        color: #4B4B4B;
        font-family: WorkSans-Regular;
        font-size: 16px;
        margin: 0px;
    }

.barra-accesibilidad-govco {
    height: 143px;
    width: 48px;
    position: fixed;
    right: 0;
    top: 35%;
    background-color: #004884 !important;
    border-radius: 10px 0px 0px 10px;
    opacity: 1;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12px;
    padding-bottom: 20px;
    align-items: center;
}

    .barra-accesibilidad-govco button {
        line-height: inherit;
    }

    .barra-accesibilidad-govco .icon-contraste {
        background: #004884;
        width: 48px;
        height: 40px;
        border: none;
        outline: none;
        text-decoration: none;
    }

        .barra-accesibilidad-govco .icon-contraste::after {
            background: #fff;
            content: "\e803";
            font-family: "govco-font";
            height: 24px;
            width: 24px;
            color: #004884;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 5px;
            opacity: 1;
            position: relative;
        }

    .barra-accesibilidad-govco #titlecontraste {
        text-align: left;
        position: absolute;
        background: #3366CC;
        color: #fff;
        line-height: normal !important;
        font-family: WorkSans-Medium !important;
        font-size: 14px;
        margin-top: -8px;
        opacity: 0;
        width: 172px;
        height: 40px;
        border-radius: 10px 0px 0px 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 12px;
    }

    .barra-accesibilidad-govco button:hover #titlecontraste {
        opacity: 1;
        visibility: visible;
        margin-left: -135px;
    }

.icon-contraste:hover::after {
    background: #fff;
    content: "\e803";
    font-family: "govco-font";
    height: 24px;
    width: 24px;
    color: #3366CC;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}

.icon-contraste:focus #titlecontraste {
    font-family: WorkSans-Medium !important;
    opacity: 1;
    line-height: normal !important;
    visibility: visible;
    margin-left: -136px;
    outline: 2px solid #000;
    outline-offset: 2px;
}

.icon-contraste:focus::after {
    background: #fff;
    content: "\e803";
    font-family: "govco-font";
    height: 24px;
    width: 24px;
    color: #3366CC;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}

.barra-accesibilidad-govco .icon-reducir {
    background: #004884;
    text-align: center;
    width: 48px;
    height: 40px;
    border: none;
    outline: none;
    text-decoration: none;
}

    .barra-accesibilidad-govco .icon-reducir::after {
        background: #fff;
        content: "\ec2a";
        font-family: "govco-font";
        line-height: 0;
        height: 24px;
        width: 24px;
        color: #004884;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 5px;
        opacity: 1;
        position: relative;
    }

.barra-accesibilidad-govco #titledisminuir {
    text-align: left;
    position: absolute;
    background: #3366CC;
    color: #fff;
    line-height: normal !important;
    font-family: WorkSans-Medium !important;
    font-size: 14px;
    margin-top: -8px;
    opacity: 0;
    width: 172px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 12px;
}

.barra-accesibilidad-govco button:hover #titledisminuir {
    opacity: 1;
    visibility: visible;
    margin-left: -135px;
}

.icon-reducir:hover::after {
    background: #fff;
    content: "\ec2a";
    font-family: "govco-font";
    line-height: 0;
    height: 24px;
    width: 24px;
    color: #3366CC;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}

.icon-reducir:focus #titledisminuir {
    font-family: WorkSans-Medium !important;
    opacity: 1;
    line-height: normal !important;
    visibility: visible;
    margin-left: -136px;
    outline: 2px solid #000;
    outline-offset: 2px;
}

.icon-reducir:focus::after {
    background: #fff;
    content: "\ec2a";
    font-family: "govco-font";
    line-height: 0;
    height: 24px;
    width: 24px;
    color: #3366CC;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}

.barra-accesibilidad-govco .icon-aumentar {
    background: #004884;
    text-align: center;
    width: 48px;
    height: 40px;
    border: none;
    outline: none;
    text-decoration: none;
}

    .barra-accesibilidad-govco .icon-aumentar::after {
        background: #fff;
        content: "\ec29";
        font-family: "govco-font";
        line-height: 0;
        height: 24px;
        width: 24px;
        color: #004884;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 5px;
        opacity: 1;
        position: relative;
    }

.barra-accesibilidad-govco #titleaumentar {
    text-align: left;
    position: absolute;
    background: #3366CC;
    color: #fff;
    line-height: normal !important;
    font-family: WorkSans-Medium !important;
    font-size: 14px;
    margin-top: -8px;
    opacity: 0;
    width: 172px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 12px;
}

.barra-accesibilidad-govco button:hover #titleaumentar {
    opacity: 1;
    visibility: visible;
    margin-left: -135px;
}

.icon-aumentar:hover::after {
    background: #fff;
    content: "\ec29";
    font-family: "govco-font";
    line-height: 0;
    height: 24px;
    width: 24px;
    color: #3366CC;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}

.icon-aumentar:focus #titleaumentar {
    font-family: WorkSans-Medium !important;
    opacity: 1;
    line-height: normal !important;
    visibility: visible;
    margin-left: -136px;
    outline: 2px solid #000;
    outline-offset: 2px;
}

.icon-aumentar:focus::after {
    background: #fff;
    content: "\ec29";
    font-family: "govco-font";
    line-height: 0;
    height: 24px;
    width: 24px;
    color: #3366CC;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}

.active-barra-accesibilidad-govco {
    background-color: #3366CC !important;
}

    .active-barra-accesibilidad-govco.icon-aumentar::after {
        background: #fff;
        content: "\ec29";
        font-family: "govco-font";
        line-height: 0;
        height: 24px;
        width: 24px;
        color: #3366CC;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 5px;
        opacity: 1;
        position: relative;
    }

    .active-barra-accesibilidad-govco.icon-reducir::after {
        background: #fff;
        content: "\ec2a";
        font-family: "govco-font";
        line-height: 0;
        height: 24px;
        width: 24px;
        color: #3366CC;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 5px;
        opacity: 1;
        position: relative;
    }

    .active-barra-accesibilidad-govco.icon-contraste::after {
        background: #fff;
        content: "\e803";
        font-family: "govco-font";
        height: 24px;
        width: 24px;
        color: #3366CC;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 5px;
        opacity: 1;
        position: relative;
    }

.modo_oscuro-govco {
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #000;
    color: #fff;
}

    .modo_oscuro-govco .titulo-barra-accesibilidad {
        font-family: Montserrat-SemiBold;
        font-size: 20px;
        margin: 0px;
    }

    .modo_oscuro-govco .descripcion-barra-accesibilidad {
        font-family: WorkSans-Regular;
        font-size: 16px;
        margin: 0px;
    }

.modo_claro-govco {
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

    .modo_claro-govco .titulo-barra-accesibilidad {
        color: #000;
        font-family: Montserrat-SemiBold;
        font-size: 20px;
        margin: 0px;
    }

    .modo_claro-govco .descripcion-barra-accesibilidad {
        color: #4B4B4B;
        font-family: WorkSans-Regular;
        font-size: 16px;
        margin: 0px;
    }

.entradas-de-texto-govco {
    padding: 1rem 0;
    font-size: 16px;
    font-family: WorkSans-Regular;
}

    .entradas-de-texto-govco label {
        color: #4B4B4B;
        display: block;
        font-size: 16px;
        margin-bottom: 0.625rem;
        line-height: 1.375rem;
    }

    .entradas-de-texto-govco .container-input-texto-govco {
        position: relative;
    }

    .entradas-de-texto-govco input {
        outline: none;
        background-color: #FFFFFF;
        border: 0.094rem solid #737373;
        border-radius: 0.313rem;
        width: 100%;
        padding: 0.5rem;
        color: #4B4B4B;
        font-size: 16px;
        margin-bottom: 0.5rem;
        display: inline;
        height: auto;
        box-sizing: inherit;
        line-height: 1.375rem;
    }

        .entradas-de-texto-govco input::placeholder {
            color: #737373;
        }

        .entradas-de-texto-govco input:not(.success):not(.error):focus {
            box-shadow: 0 0.25rem 0 #3366CC24;
            border: 0.094rem solid #3366CC;
        }

        .entradas-de-texto-govco input:disabled {
            background-color: #F2F2F2;
            border: 0.094rem solid #BABABA;
        }

            .entradas-de-texto-govco input:disabled::placeholder,
            .entradas-de-texto-govco.disabled-govco label,
            .entradas-de-texto-govco.disabled-govco span {
                color: #BABABA;
            }

    .entradas-de-texto-govco .alert-entradas-de-texto-govco {
        display: block;
    }

    .entradas-de-texto-govco .icon-entradas-de-texto-govco {
        position: absolute;
        border: 0;
        background: transparent;
        padding: 0;
        cursor: pointer;
        display: block;
        background-size: 1.6rem;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        top: 50%;
        transform: translateY(-65%);
    }

    .entradas-de-texto-govco .eye-slash-entradas-de-texto-govco {
        right: 0.625rem;
    }

    .entradas-de-texto-govco .eye-entradas-de-texto-govco {
        right: 0.625rem;
    }

    .entradas-de-texto-govco .icon-entradas-de-texto-govco::after {
        font-family: "govco-font";
    }

    .entradas-de-texto-govco .eye-entradas-de-texto-govco::after {
        content: "\e937";
        color: #3366CC;
        font-size: 21.3px;
    }

    .entradas-de-texto-govco .eye-slash-entradas-de-texto-govco::after {
        content: "\e936";
        color: #737373;
        font-size: 19.2px;
    }

    .entradas-de-texto-govco input.success {
        border: 0.094rem solid #068460 !important;
    }

        .entradas-de-texto-govco input.success::placeholder,
        .entradas-de-texto-govco input.success {
            color: #077253;
        }

    .entradas-de-texto-govco .success-texto-govco {
        color: #068460;
    }

    .entradas-de-texto-govco input.error {
        border: 0.094rem solid #A80521 !important;
    }

        .entradas-de-texto-govco input.error::placeholder,
        .entradas-de-texto-govco .error-texto-govco,
        .entradas-de-texto-govco input.error {
            color: #A80521;
        }

            .entradas-de-texto-govco input.success ~ .success-icon-entradas-de-texto-govco,
            .entradas-de-texto-govco input.error ~ .error-icon-entradas-de-texto-govco {
                display: initial;
            }

    .entradas-de-texto-govco input::-ms-reveal {
        display: none;
    }

    .entradas-de-texto-govco .success-icon-entradas-de-texto-govco,
    .entradas-de-texto-govco .error-icon-entradas-de-texto-govco {
        right: 0.625rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        text-align: center;
    }

    .entradas-de-texto-govco .success-icon-entradas-de-texto-govco {
        background-color: #068460;
    }

    .entradas-de-texto-govco .error-icon-entradas-de-texto-govco {
        background-color: #A80521;
    }

        .entradas-de-texto-govco .success-icon-entradas-de-texto-govco::after,
        .entradas-de-texto-govco .error-icon-entradas-de-texto-govco::after {
            color: #FFFFFF;
            font-size: 14px;
        }

    .entradas-de-texto-govco .success-icon-entradas-de-texto-govco::after {
        content: "\e8a7";
    }

    .entradas-de-texto-govco .error-icon-entradas-de-texto-govco::after {
        content: "\e92f";
    }

    .entradas-de-texto-govco .none,
    .entradas-de-texto-govco .success-icon-entradas-de-texto-govco,
    .entradas-de-texto-govco .error-icon-entradas-de-texto-govco {
        display: none;
    }

.govco-bg-green {
    background-color: #009800;
}
