@page
@model Formulario_Cartagena.Pages.IndexModel
@{
	ViewData["Title"] = "Home page";
}
<div class="container-example-linea-avance-govco mx-0">
	<div class="govco-bg-green p-5" aria-hidden="true">
		<h1 class="text-light mb-2">Bienvenido al Portal de Tramites</h1>
		<h5 class="text-light">Este es el portal de tramites y servicios donde podras gestionar todos tus procesos.</h5>
	</div>
	<div class="row gx-0 justify-content-around p-4">
        <div class="col-3 row gx-0 justify-content-center align-content-center">
            <div class="col radio-seleccion-govco">
                <input type="radio" id="radio11" name="radioButton1" value="0">
                <label for="radio11">Opción 1</label>
            </div>
            <div class="col radio-seleccion-govco">
                <input type="radio" id="radio12" name="radioButton1" value="1" checked>
                <label for="radio12">Opción 2</label>
            </div>
            <div class="col radio-seleccion-govco">
                <input type="radio" id="radio13" name="radioButton1" value="2">
                <label for="radio13">Opción 3</label>
            </div>
        </div>
        <div class="col-5 search-govco align-content-center">
            <div class="bar-search-govco">
                <input type="text" placeholder="Buscar por componente" class="input-search-govco" aria-label="Buscador" />
                <button class="icon-search-govco icon-close-search-govco" aria-label="Limpiar"></button>
                <div class="icon-search-govco search-icon-search-govco" aria-hidden="true"></div>
            </div>
            <div class="container-options-search-govco">
                <div class="options-search-govco">
                    <ul>
                        <li>
                            <a href="#" tabindex="-1">Sugerencia de búsqueda con la palabra <strong>Componente 1</strong></a>
                        </li>
                        <li>
                            <a href="#" tabindex="-1">Sugerencia de búsqueda con la palabra <strong>Componente 1</strong></a>
                        </li>
                        <li>
                            <a href="#" tabindex="-1">Sugerencia de búsqueda con la palabra <strong>Componente 1</strong></a>
                        </li>
                        <li>
                            <a href="#" tabindex="-1">Sugerencia de búsqueda con la palabra <strong>Componente 1</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-3 align-content-center">
            <div class="desplegable-govco" style="width:255px; height: 40px;" id="lista-desplegables" data-type="basic">
                <select aria-invalid="false" aria-describedby="alert-id">
                    <option disabled selected>Escoger</option>
                    <option value="1">Opción 1</option>
                    <option value="2">Opción 2</option>
                    <option value="3">Opción 3</option>
                    <option value="4">Opción 4</option>
                    <option value="5">Opción 5</option>
                    <option value="6">Opción 6</option>
                </select>
            </div>
        </div>
	</div>

	<div class="row gx-0 justify-content-start px-5 py-4">
        <a class="icono-tarjeta-govco horizontal-tarjeta-govco ps-4" href="@Url.Page("Certificado")" title="descripción donde redirige el enlace">
            <div class="container-icono-tarjeta-govco">
                <img src="https://www.gov.co/uploads/9d4af2e2-dbf1-4113-a463-0decc05c1b4b.svg" alt="descripción de la imagen">
            </div>
            <div class="body-tarjeta-govco text-center align-content-center">
                <h5>Certificacion de Tramite</h5>
            </div>
        </a>
    </div>
</div>
